.blog-roll {
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0;
    line-height: 1;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 18px;
    color: $subtitle-color;
  }
}
